<ion-view view-title="HOME">
  <a href="#/app/chat" id="chat-button"><i class="ion-chatbubble"></i></a>
  <ion-content>




    <!-- COVER -->
    <div class="trip-cover">
      <h2>Trip to Paris</h2>
      <h4>October 1 - 7</h4>
    </div>

    <!-- TILE-OPTIONS -->
    <div class="row">
      <div class="col">
        <a class="menu-tile reservations">
          <i class="ion-plane"></i>
          <p>Reservations</p>
        </a>
      </div>
      <div class="col">
        <a class="menu-tile info">
          <i class="ion-ios-information-outline"></i>
          <p>Things to know</p>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <a class="menu-tile benefits" href="#/app/benefits">
          <i class="ion-card"></i>
          <p>Card Benefits</p>
        </a>
      </div>
      <div class="col">
        <a class="menu-tile experiences">
          <i class="ion-happy-outline"></i>
          <p>Experiences</p>
        </a>
      </div>
    </div>





    <!-- STATS
    <div class="row city-stats">
      <div class="col">
        <div class="stat">
          <i class="ion-android-restaurant"></i>
          <h6><span>$50</span> AVG SPEND PER MEAL</h6>
        </div>
      </div>

      <div class="col">
        <div class="stat">
          <i class="ion-bag"></i>
          <h6><span>$200</span> AVG SPEND ON SHOPPING</h6>
        </div>
      </div>

    </div>-->

  </ion-content>
</ion-view>
